@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/container-queries';
@plugin '@tailwindcss/forms';

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

@theme {
    --color-base-100: #ffffff;
    --color-base-200: #f7f8f8;
    --color-base-300: #e5e5e6;
    --color-base-content: #0f1419;
    --color-primary: #1e9df1;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: #0f1419;
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: #e3ecf6;
    --color-accent-content: #0f1419;
    --color-neutral: oklch(37% 0.01 67.558);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(80% 0.105 251.813);
    --color-info-content: #0f1419;
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: #0f1419;
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: #0f1419;
    --color-error: #f4212e;
    --color-error-content: #0f1419;
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;

    --font-urbane: Urbane, sans-serif;
    --font-poppins: Poppins, sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
        line-height: 1.2;
    }
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-lg;
    }
    h5 {
        @apply text-lg;
    }
    h6 {
        @apply text-base;
    }
    label {
        @apply font-semibold!;
    }

    button:not(:disabled),
    a:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
    button:disabled,
    [role="button"]:disabled {
        cursor: not-allowed;
        opacity: 0.6 !important;
    }
    button:disabled:hover {
        opacity: 0.6 !important;
    }
    input:is(:read-only, [readonly]) {
        cursor: not-allowed;
        opacity: 0.6;
    }

    .bg-gradient-cover {
        @apply bg-gradient-to-b from-[#ffffff38]  to-[#162f55];
    }

    .canvas-background-theme {
        @apply bg-base-200;
    }
}
@custom-variant hover (&:hover);

@layer base {
    html {
        @apply bg-base-100;
    }

    ::-webkit-scrollbar {
        @apply w-[0.4rem] h-[0.5rem] bg-accent;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-secondary;
    }
}

#topLeft {
    position: absolute;
    top: 5px;
    left: 5px;
    width: max-content;
}

#topRight {
    position: absolute;
    top: 5px;
    right: 5px;
    width: max-content;
}

#bottomLeft {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: max-content;
}

#bottomRight {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: max-content;
}

/* Mouse Position */
.ol-custom-mouse-position {
    padding: 0.3rem 0.5rem;
    background-color: #ffffff;
    border-radius: 5px;
    color: #303030;
    font-size: 0.8rem;
}

/* Scaleline */
.ol-scale-line {
    max-width: 200px;
    background-color: #ffffff;
    padding: 0.2rem 0.8rem;
}

.ol-scale-line-inner {
    display: flex;
    border: 0 solid grey;
    transition: none;
}

/* attribution */
.ol-attribution {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    width: max-content;
    max-width: max-content;
}

/* Zoom Toggle */
.ol-custom-zoom {
    bottom: 30px;
    right: 0;
    font-size: 1.2rem;
    border-radius: 5px;
}

.ol-custom-zoom-in {
    background-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 12h14m-7 7V5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0.8rem;
}

.ol-custom-zoom-out {
    background-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6 text-gray-800 dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 12h14'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0.8rem;
}

/* minimap */
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    top: auto;
    bottom: 30px;
    left: auto;
    right: 30px;
}

.ol-custom-overviewmap button {
    padding: 0.7rem;
    font-size: 1.2rem;
}

.ol-custom-overviewmap:not(.ol-collapsed) button {
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
}

.ol-custom-overviewmap span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 15rem;
}

.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid red;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
}

.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}

.basemap-switcher {
    position: absolute;
    bottom: 50px;
    left: 5px;
    background: white;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
}

.basemap-options {
    display: none;
    flex-direction: row;
    gap: 6px;
    margin-left: 8px;
}

.basemap-switcher:hover .basemap-options {
    display: flex;
}

.basemap-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.basemap-option img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.basemap-option input[type="radio"] {
    display: none;
}

.basemap-switcher span {
    font-size: 11px;
}

.basemap-option.active {
    background: rgba(0, 0, 0, 0.1);
}

.trigger-basemap {
    cursor: pointer;
}

#side-nav-panel button.active {
    @apply text-primary;
}
